/* TIPOS DE FUENTES DEL SITIO WEB */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
.App {
  text-align:center;
}
/* INICIO DISEÑO DEL HOME */
.bodyHome {
  /* overflow: hidden; */
  /* height: 100vh; */
 
  background-image: linear-gradient(
    to left,
    #7cdfec,
    #8ad6e3,
    #deb7e9,
    #dcccf3,
    #e0def7,
    #e6e5f7,
    #ecebf6,
    #f2f2f6,
    #f2f1f6,
    #f3eff6,
    #f5eef5,
    #f7ecf3
  );
}
.menuAdmin {
  align-items: right;
}
.fondo1 {
  margin-top: 4px;
  padding: 5px;
  background: rgb(11, 110, 117);
  border-radius: 4px;
}
.fondo2 {
  background: red;
}
.infoHome {
  width: 533px;
  height: 350px;
  font-family: "Montserrat", sans-serif;
}
.imgHome {
  width: 530px;
  height: 300px;
}
.txtHome {
  display:inline-flex;
  padding-top: 10px;
  font-size: 25px;
  font-family: "Satisfy", cursive;
  text-align: center;
}
/* FIN DEL DISEÑO DEL HOME */
/* INICIO DISEÑO DE FONDO PAGINAS DEL SITIO WEB */
.bodyPage {
  background-image: linear-gradient(
    to left,
    #7cdfec,
    #8ad6e3,
    #deb7e9,
    #dcccf3,
    #e0def7,
    #e6e5f7,
    #ecebf6,
    #f2f2f6,
    #f2f1f6,
    #f3eff6,
    #f5eef5,
    #f7ecf3
  );
}
/* FIN DISEÑO DE FONDO PAGINAS DEL SITIO WEB */
/* INICIO DISEÑO DEL HEADER */
header {
  border-top: 2px solid rgb(28, 177, 170);
  border-bottom: 2px solid rgb(28, 177, 170);
  background-image: linear-gradient(
    to left,
    #7cdfec,
    #8ad6e3,
    #deb7e9,
    #dcccf3,
    #e0def7,
    #e6e5f7,
    #ecebf6,
    #f2f2f6,
    #f2f1f6,
    #f3eff6,
    #f5eef5,
    #f7ecf3
  );
}
.logoHeader {
  width: 250px;
  height: 120px;
  text-align: left;
}
h1 {
  font-size: 30px;
  font-family: "Satisfy", cursive;
  color: #50b9c7;
}

.menuHome{
  color:#e423c4;
  font-weight:bold;
}
/* FIN DISEÑO DEL HEADER */
/* INICIO DISEÑO DEL FOOTER */
footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  border-top: 2px solid rgb(28, 177, 170);
}
.txtFooter {
  font-size: 10px;
  width: 530px;
  text-align: center;
}
.imgFooter {
  width: 20px;
  height: 20px;
  background-color: red;
  text-align: left;
}
/* FIN DISEÑO DEL FOOTER */
/* INICIO DISEÑO DE SUBMENU DEL SITIO WEB */
.dropdown-menu {
  border: 2px solid rgb(28, 177, 170);
  background-image: linear-gradient(
    to top,
    #ed89c2,
    #e5a1d9,
    #deb7e9,
    #dcccf3,
    #e0def7,
    #e6e5f7,
    #ecebf6,
    #f2f2f6,
    #f2f1f6,
    #f3eff6,
    #f5eef5,
    #f7ecf3
  );
}
/* FIN DISEÑO DE SUBMENU DEL SITIO WEB */
/* INICIO DISEÑO DE IMAGENES DE TIENDAS */
.imgTienda {
  width: 300px;
  height: 200px;
  border-radius: 4px;
}
.btn-primary {
  background-color: rgb(54, 162, 157);
  color: black;
}
.btn-primary:hover {
  background-color: black;
  color: rgb(54, 162, 157);
}
/* FIN DISEÑO DE IMAGENES DE TIENDAS */
/* INICIO DISEÑO DE IMAGENES CATALOGOS PRODUCTOS VARIOS */
/*  TARJETAS */
.cardart {
  display:inline-block;
  background-color: #ffffff;
  background: linear-gradient(to right, rgb(134, 206, 228), rgb(235, 213, 233));
  border-radius: 1em;
  box-shadow: 0px .1rem 1rem rgba(0, 0, 0, 0.1);
  margin: 5px;
  width: 350px;
  height: 450px;
  overflow: hidden;
  align-items: center;
}

.imgCat {
  display: inline;
  margin-top: 5px;
  width: 150px;
  height: 180px;
  /* object-fit: cover; */
  border-radius: 10px 10px 10px 10px;
  border-color: rgb(145, 17, 117);
}
 .imgCat:hover {
  box-shadow: inset 5px 5px 50px rgb(227, 184, 219),
    10px 10px 1px 3px rgb(176, 160, 173), 5px 5px 50px rgb(255, 0, 174),
    5px 5px 50px rgb(96, 210, 223);
}
.cardart:hover {
  box-shadow: inset 5px 5px 50px rgb(227, 184, 219),
  10px 10px 1px 3px rgb(176, 160, 173), 5px 5px 50px rgb(255, 0, 174),
  5px 5px 50px rgb(96, 210, 223);
}


/* FIN DISEÑO DE IMAGENES CATALOGOS PRODUCTOS VARIOS */

.txtcardart {
   text-align: left;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight:bold; 
   font-size: 13px;
}

.cardbottom {
  display: flex;
  margin-top: 2px;
  justify-items: justify;
  background-color: #2cacbd;
  color:rgb(248, 243, 243);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content: space-between;
  padding: 5px 10px;
  font-size: 15px;
  font-family: inherit;
}


/* INICIO DISEÑO DE FORMULARIO DE CONTACTO */
.dataForm {
  width: 800px;
  height: 500px;
  border-color: 4px #e72fa0 solid;
  border-radius: 3px;
}
/* FIN DISEÑO DE FORMULARIO DE CONTACTO */



/* PARA EL FORMULARIO DE CONTACTANOS */
.formContacto{
	width:500px;
	padding:50px;
	border-radius:30px;
	margin:auto;
	background-color:#e0b6dd; 
}

.labelContacto{
  text-align: left;
}

.inputContacto[type="text"],
.inputContacto[type="email"]{
	width:100%;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:100px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:block;
}

.buttonContacto[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:2px solid;
	border-radius:100px;
	display:block;
	background-color:rgb(231, 208, 226);
	font-weight:bold;
	color:black;
	cursor: pointer;
} 

.buttonContacto:hover {
	background-color:rgb(207, 32, 155);
  }

.textAreaContacto{
	width:100%;
	height:150px;
	border:1px solid #f6f6f6;
	border-radius:15px;
	background-color:#f6f6f6;			
	margin:8px 0;
	resize:none;
	display:block;
} 
/* FIN DEL FORMULARIO DE CONTACTANOS */

.ListarUsu {
  table-layout: auto;
}

/*ESTILOS INICIO SESION*/
.logosesion {
  width: 180px;
  height: 90px;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 10px 10px 10px 16px;
}
.control{
  border:0;
  outline: none;
  width:100%;
  height: 56px;
  padding: 0 56px 0 16px;
  border-radius: 6px;
  color: #5a4f79;
  font-size: 16px;
  font-family: inherit;
  background: #f4f5f7;
  transition: 0.4s;
}
.cardsesion {
  width: 400px;
  padding: 60px 30px 40px;
  border-radius:20px;
  background-color: #ffffff;
  text-align: center;
}
.form{
  width: 100%;
  margin:0;
  display:grid;
  gap: 16px;
}
.form input.control
::placeholder{
  color: #aaa7bc;
}
.form>button.control{
  background: transparent;
  border: 0;
  cursor: pointer;
  width: 100%;
  height:56px;
  padding: 0 16px;
  background: #127380;
  color: #f9f9f9;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.password{
  position: relative;
}

 .toggle{
  position:absolute;
  top:50%;
  right:16px;
  translate: 0 -50%;
  width: 30px;
  height: 30px;
  background-image:url('http://localhost:3000/img/sesionrosa.svg');
  background-size: 85%;
  background-position: center;
  background-repeat: no-repeat;
} 




.table {
  width: 100%;
  border-collapse: collapse;
}
.table th,
.table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* 
 .pagionacion{
  list-style-type: none;
  display: flex;
  gap: 16px;
  padding: 0px;
 }
 .paginacion a{
  display:block;
  color : var(--primary);
  font-size: 1.3rem;
  text-decoration: none;
  border-radius: 8px;
  padding: 12px 16px;
 }
 .paginacion a:hover, a.active{
  background-color: var(--odd-row);
  text-decoration: underline;
 } */